.container {
  color: #868585;
  display: flex;
  gap: 2px;
  align-items: center;
}

.check {
  opacity: 0;
  width: 0;
  height: 0;
}

.description {
  margin-left: 3px;
}

.check:checked + svg {
  color: #000;
}

.check:checked + span {
  color: #000;
}
